body{
  background-color:#F0F3BD;
  font-family:"Roboto","微軟正黑體",sans-serif;
  font-size:16px;
  line-height:1.5em;
}
*{
  box-sizing:border-box;
}
.sidebar-container{
  float:left;
  width:15%;
  height:100%;
  margin:20px auto;
  position:absolute;
}
#sidebar{
  position:fixed;top:360px;left:-10px;
}
#sidebar ul{
  list-style-type:none;
}
.jumbotron{
  background-color:#348AA7;
  padding:30px;
  margin:10px auto;
  color:#12355c;
}
.jumbotron small{
  color:#ffffff;
}
.container-fluid h1{
  float:right;
}
.container{
  background-color:#F0F3BD;
  overflow:auto;
  margin:20px auto;
  padding:30px;
  width:85%;
  float:right;
}
section{
  background-color:#cfe1b9;
  border: dotted 2px #028090;
  border-radius:10px;
  overflow:auto;
  width:auto;
  margin:10px;
  padding:30px;
}
article #coffee{
  float:right;
}
#journey img{
  width:70%;
  height:auto;
  box-shadow:1px 1px 3px 3px #c7c776;
}
.thumbnail{
  background-color:#cfe1b9;
  padding:5px;
  margin:3px;
  overflow:auto;
}
#journey .thumbnail img{
  float:right;
  margin:3px;
}
#journey .thumbnail .row{
  margin:0px;
}
#journey .thumbnail #bus{
  float:left;
  margin:3px;
  width:200px;
  position:relative; top:300px;
}
table{
  table-layout:auto;
  padding:20px;
  border-collapse:collapse; 
  border:dotted 3px #00A896;
  border-radius:10px;
  
}
tr,td{
  border-collapse:collapse; 
  border:dotted 3px #00A896;
  padding:20px;
  
}
th{
  padding:20px;
}


footer{
  background-color:#8FBC94;
  padding:8px;
  font-family:"華康細黑體","微軟正黑體",sans-serif;
  font-weight:300;
  line-height:1.5em;
  font-size:0.8em;
  text-align:left;
  max-width:100%;
  clear:both;
}

nav .unselected,.selected{
  float:left;
  padding:10px;
  height:80px;
  list-style-type:none;
  width:100%;

}
nav .unselected{
  background-color:#88d6d6;
  float:left;
}
nav .selected{
  background-color:#525174;
  color:#000;
  float:left;
}
